{% extends 'base.html.twig' %}

{% block body %}

    {% if tasks|length > 0 %}

    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th class="col-sm-2">Name</th>
                <th class="col-sm-3">Description</th>
                <th class="col-sm-3">Category</th>
                <th class="col-sm-4"></th>
            <tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr class="row">
                <td class="col-sm-2">{{ task.name }}</td>
                <td class="col-sm-3">{{ task.description }}</td>
                <td class="col-sm-3">{{ task.category }}</td>
                <td class="col-sm-4">
                    <a href="{{ path('details_page', {id: task.id}) }}">
                        <button class="btn btn-outline-primary">Details</button>
                    </a>
                    <a href="{{ path('edit_page', {id: task.id}) }}">
                        <button class="btn btn-outline-info">Edit</button>
                    </a>
                    <a href="{{ path('delete_task', {id: task.id}) }}">
                        <button class="btn btn-outline-danger">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div class="jumbotron">
        <h1>No Tasks</h1>
        <p>Create first task:</p>
        <a href="{{ path('create_page') }}">
            <button class="btn btn-outline-secondary">Create Task</button>
        </a>
    </div>

    {% endif %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
    
        fetch('/numberOfTasks')
            .then(function(response) {
                
                return response.json();
            })
            .then(function(response) {

                let numberOfTasks = parseInt(response.totalNumber);
            });
    
    </script>

{% endblock %}
