{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th class="col-sm-2">Name</th>
                <th class="col-sm-3">Description</th>
                <th class="col-sm-3">Category</th>
                <th class="col-sm-4"></th>
            <tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr class="row">
                <td class="col-sm-2">{{ task.name }}</td>
                <td class="col-sm-3">{{ task.description }}</td>
                <td class="col-sm-3">{{ task.category }}</td>
                <td class="col-sm-4">
                    <a href="{{ path('details_page', {id: task.id}) }}">
                        <button class="btn btn-outline-primary">Details</button>
                    </a>
                    <a href="{{ path('edit_page', {id: task.id}) }}">
                        <button class="btn btn-outline-info">Edit</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
